
	<div class="row">
		<div class="col-md-6">
			<%= pie_chart @pie_chart ,height:'100%'%>
				
			</div>
		<div class="col-md-6 text-center">
			<p>User Creation by Date</p>
			<%= line_chart @line_user ,height:'80%'%>
		</div>	
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 text-center">
			
			<%= column_chart @column_question %>
			<p>Questions Creation Day Wise</p>
		</div>
		<div class="col-md-6 text-center">
			
			<%= column_chart @column_answer %>
			<p>Answers Day Wise</p>
		</div>
	</div>
