

<%= pie_chart @pie_chart %>

<hr>
<p>User Creation by Date</p>

<%= line_chart @line_user %>
<hr>
<p>Question Creation by Date</p>
<%= column_chart @column_question %>
<hr>
<p>Answer Creation By Date</p>
<%= column_chart @column_answer %>


