<%= pie_chart @pie_chart %>
<hr>
<p>User Creation by Date</p>

<%= line_chart @line_user %>
<hr>
<p>Questions Created This week</p>
<%= column_chart @column_question %>
<hr>
<p>Answers this week</p>
<%= column_chart @column_answer %>