<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Surveymax</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <% if current_user%>
            <li class="nav-item">
              <%= link_to "Dashboard",root_path,class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Questions",home_question_path,class:"nav-link"%>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
            <%=image_tag current_user.profile_pic,height:40,class:"image-comment" %>
            <%=link_to "Logout",destroy_user_session_path,class:"btn btn-outline-danger my-2 my-sm-0",method: :delete%>
          <%end%>
          
        </div>
</nav>